#eat {
  background-color: rgb(98, 235, 98);
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  height: 300px;
  width: 665px;

    h5 {
      background-color: rgb(252, 154, 219);
      padding: 3px;
      margin-left: 100px;
      margin-right: 100px;
      font-size: 40px;
    }

    #healthy-btn {
      font-size: 25px;
    }

    #unhealthy-btn {
      font-size: 25px;
    }
};

@media (max-width: 700px) {
  #eat {
    font-size: 1.5em;
  }
};
