@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./eat.scss";
@import "./play.scss";
@import "./fight.scss";
@import "./sleep.scss";
@import "./progress.scss";

body {
  background-image: url(https://i.pinimg.com/originals/05/58/67/055867b24a1727b4892e6472a2408fc6.png);
  color: white;
  text-align: center;
  margin-top: 100px;
}
